[submodule "sottomarini/dibi-bib"]
	path = sottomarini/dibi-bib
	url = git@github.com:grammaton/dibi-bib.git
[submodule "arsenale/luz"]
	path = arsenale/luz
	url = git@github.com:Metabolismo/luz.git
[submodule "arsenale/adui"]
	path = arsenale/adui
	url = git@github.com:Metabolismo/adui.git
[submodule "documents/articles"]
	path = documents/articles
	url = git@github.com:portomorto/articles.git
